{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h5 class="mb-0">Preferred Currency</h5>
                </div>
                <div class="card-body">
                    {% include 'partials/_messages.html' %}
                    <form action="{% url 'preferences' %}" method="post" class="row g-3">
                        {% csrf_token %}
                        <div class="col-md-8">
                            <select name="currency" class="form-select w-100" id="inputGroupSelect04" aria-label="Example select with button addon">
                                {% if user_preferences.currency %}
                                <option name="currency" value="{{user_preferences.currency}}">{{user_preferences.currency}}</option>
                                {% endif %}
                                {% for currency in currencies %}
                                <option name="currency" value="{{currency.name}} - {{currency.value}}">{{currency.name}} - {{currency.value}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-outline-primary w-100" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
